.bg-peas {
    background-color:#3cb877;
}

.card-deck {
    width: 1000px; 
    height: 200px; 
    margin: auto; 
    padding-top: 50px; 
}
.card-title {
    padding-top: 15%;
}
.card {
    padding-bottom: 25px;
}
.card-body {
    align-content: center;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-color: #e9e8e8; 
}