{% extends "base.html" %}

{% block content %}


	<div class="container">
            <div class="text-center mt-5">
                <h1>PEAS Data</h1>
                <div>
                    <table id="test_table" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Object Name</th>
                                <th>UT_Date</th>
                                <th>Observation Time</th>
                                <th>Flux Data ID</th>
                            </tr>
                        </thead>
                        <body>
                            <tr>
                                <td> Mercury </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td> Venus </td>
                                <td>{{ meta_items[2][1]}}</td>
                                <td>{{ meta_items[2][2]}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td> Earth </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td> Mars </td>
                                 <td>{{ meta_items[0][1]}}</td>
                                 <td>{{ meta_items[0][2]}}</td>
                                 <td></td>
                            </tr>
                            <tr>
                                <td> Jupiter </td>
                                 <td>{{ meta_items[1][1]}}</td>
                                 <td>{{ meta_items[1][2]}}</td>
                                 <td></td>
                            </tr>
                            <tr>
                                <td> Saturn </td>
                                 <td>{{ meta_items[3][1]}}</td>
                                 <td>{{ meta_items[3][2]}}</td>
                                 <td></td>
                            </tr>
                            <tr>
                                <td> Uranus </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td> Neptune </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </body>
                        <tfoot>
                            <tr>
                                <th>Object Name</th>
                                <th>UT_Date</th>
                                <th>Observation Time</th>
                                <th>Flux Data ID</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                </p>
                <p>Bootstrap v5.0.2</p>
            </div>
        </div>

<!-- CUSTOM JS STUFF -->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

{% endblock %}