{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="text-center mt-5">
            <h1> PEAS Data</h1>
        </div>
    </div>

    <!-- Datatable starts here-->
	<div class="container-fluid">
        <div class="row"><!-- Row 2 -->
            <div class="col-lg-12" style="padding-left:5px"><!-- 12 column  -->
            <table id="test_table" class="display" style="width:100%">
            <thead>
                <tr>
                    {% for i in meta.keys() %}
                       <th>{{i}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id='table_Body'>
                {% for i in range(0, table_len) %}
                <tr>
                    <td>{{meta['ID'][i]}}</td>
                    <td>{{meta['UT_Date'][i]}}</td>
                    <td>{{meta['Time_of_Obs'][i]}}</td>
                    <td>{{meta['Object_Name'][i]}}</td>
                    <td>{{meta['Int_Time'][i]}}</td>
                    <td>{{meta['Grating'][i]}}</td>
                    <td>{{meta['Central_Wave'][i]}}</td>
                    <td>{{meta['Slit_Width'][i]}}</td>
                    <td>{{meta['Phase_Angle'][i]}}</td>
                    <td>{{meta['Comments'][i]}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    {% for i in meta.keys() %}
                        <th>{{i}}</th>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
        </div><!-- 12 column ends -->
        </div><!-- Row 2 ends -->
    </div> <!-- Datatable ends here-->

<div class="container">
    <div class="text-center mt-5">
        <p>Bootstrap v5.0.2</p>
    </div>
</div>

<!-- CUSTOM STUFF -->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script src="{{ url_for('static', filename='css/custom.css') }}"></script>

{% endblock %}