{% extends "base.html" %}

{% block content %}

	<!-- Page Content -->

<div class="container">
	<!-- Input text box and submit button -->
		<div class="text-center mt-5">
			<h1> You entered : {{ plnt }} </h1>
		</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-4">
			<div class="card bg-light">
				<div class="card-body">
					<form class="form-inline" action="" method="POST" novalidate="">
						<p><input type="text" placeholder=" {{ plnt }} " name="keyword" /></p>
						<p><input type="submit" value="submit" /></p>
					</form>
				</div>
			</div>
		</div>

		<div class="col-8">
				<div class="card bg-light">
						<div class="card-body">
              <p></p>
               <h4> This is where Time will go</h4>
    				</div>
  			</div>
		</div>

		</div>	
	</div>
</div>

	<!-- Testing dropdown menu -->
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div class="card bg-light">
						<div class="card-body">
							<table class="table table-bordered">
    						<tbody>
      					<tr>
        					<td><b>Planet:</b></td>
        					<td> <select class="navbar navbar-dark bg-white">
                 					<option value="Planet" selected> {{ plnt }}</option>
                  				{% for i in all_planets.keys() if plnt not in i %}
                  				<option value={{i}}>{{i}}</option>
                  				{% endfor %}
						 						</select>
        					</td>
      					</tr>
      					<tr>
        					<td><b> Dates taken: </b></td>
        					<td> Selector here </td>
      					</tr>
      					<tr>
       					 	<td><b> Magnitude: </b></td>
       					 	<td> Fixed value </td>
      					</tr>
     					 	<tr>
      						<td><b> Phase angle: </b></td>
     					   	<td> Drop down </td>
    				  	</tr>
    				  	<tr>
    				  		<td><b> Grating: </b></td>
      				  	<td> Drop down </td>
     						</tr>
     					 	<tr>
      						<td><b> Wavelength Coverage: </b></td>
        					<td> Drop down </td>
      					</tr>
    						</tbody>
 						 </table>
    				</div>
  				</div>
  			</div>

				<div class="col-8">
						<div class="card bg-light">
							<div class="card-body">
                <p></p>
                <h4> This is where Flux/Wavelength will go</h4>
    					</div>
  					</div>
				</div>
		</div>
	</div>
	


	<!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

{% endblock %}