{% extends "base.html" %}

<body>
{% block content %}

<!-- PLOTLY-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<!-- Page Content -->

<div class="container">
		<div class="text-center mt-5">
			<h1> PEAS </h1>
		</div>
</div>

<!-- Input text box and submit button -->

<div class="container">
	<div class="row">
		<div class="col-4">
			<div class="card bg-light">
				<div class="card-body">
					<form class="form-inline" action="" method="POST" novalidate="">
						<p><input type="text" name="keyword" /></p>
						<p><input type="submit" value="submit" /></p>
					</form>
				</div>
			</div>
		</div>

		<!-- Card with Time range -->

		<div class="col-8">
				<div class="card bg-light">
					<div class="card-body">
              		<p></p>
              		<h4> Time </h4>
              		<label for="customRange1" class="form-label">Example range</label>
					<input type="range" class="form-range" id="customRange1">
    			</div>
  			</div>
		</div>

		</div>	
	</div>
</div>

	<!-- Testing dropdown menu and table -->
	
		<div class="container">
			<div class="row">

				<div class="col-4">
					<div class="card bg-light">
						<div class="card-body">
							<table class="table table-bordered">
    						<tbody>
      					<tr>
      						<form class="form-inline">
        						<td><b>Planet:</b></td>
        						<td> <select class="selectpicker" multiple data-max-options="3"
        							 id="SelectPlanet" data-size="8">
                 						<option selected> {{ plnt }}</option>
                  						{% for i in all_planets.keys() if plnt not in i %}
                  						<option value={{i}}>{{i}}</option>
                  						{% endfor %}
						 			</select>
						 	</form>
        					</td>
      					</tr>
      					<tr>
        					<td><b> Dates taken: </b></td>
        					<td> Selector here </td>
      					</tr>
      					<tr>
       					 	<td><b> Magnitude: </b></td>
       					 	<td> Fixed value </td>
      					</tr>
     					 <tr>
      						<td><b> Phase angle: </b></td>
     					   	<td> <select class="navbar navbar-dark bg-white">
                 				</select>
						 	</td>
    				  	</tr>
    				  	<tr>
    				  		<td><b> Grating: </b></td>
      				  		<td> <select class="selectpicker" multiple data-max-options="1" id="SelectGrating" data-size="4">
                 					<option selected> 1 </option>
                  					<option> 2 </option>
                  					<option> 3 </option>
                  					<option> 4 </option>
                  				</select>
							</td>
     					</tr>
     					 <tr>
      						<td><b> Wavelength Coverage: </b></td>
        					<td> <select class="navbar navbar-dark bg-white">
                 				</select>
						 	</td>
      					</tr>
    						</tbody>
 						 </table>
    				</div>
  				</div>
  			</div>

  			<!-- Wavelength plot -->

				<div class="col-8">
					<div class="card bg-light">
					<div class="card-body">
                	<div class="chart-area" id="flux_plot">
                    <script>
                        var config = {responsive: true}
                        var graphs = {{ flux_plot | safe }};
                        Plotly.plot('flux_plot',graphs['data'],graphs['layout'],config);
                    </script>
					</div> 
    				</div>
  					</div>
				</div>

		</div>
	</div>


<!-- PLOT JS STUFF -->
<script src="{{ url_for('static', filename='js/plots.js') }}"></script>

{% endblock %}